<IfModule mime_module>
  AddHandler application/x-httpd-alt-php82 .php .php8 .phtml
  php_value upload_max_filesize 256M
  php_value post_max_size 256M
  php_value max_execution_time 600
  php_value max_input_time 600
  php_value memory_limit 512M
</IfModule>

<IfModule mod_php.c>
  php_value upload_max_filesize 256M
  php_value post_max_size 256M
  php_value max_execution_time 600
  php_value max_input_time 600
  php_value memory_limit 512M
</IfModule>

<IfModule lsapi_module>
  php_value upload_max_filesize 256M
  php_value post_max_size 256M
  php_value max_execution_time 600
  php_value max_input_time 600
  php_value memory_limit 512M
</IfModule>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # LiteSpeed Directives to prevent server aborting long-running upload requests
    RewriteRule .* - [E=noabort:1]
    RewriteRule .* - [E=nothrottling:1]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
